// Small tablets and large smartphones (landscape view)
$screen-sm-min: 300px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 600px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 .intro-sm{
    @include sm{
        display: block;
    }
    @include xl{
        display: none;
    }
}

.intro-xl{
    @include sm{
        display: none;
    }
    @include xl{
        display: block;
    }
}

.txt-body{
    span{
        color: #000000;
        display: flex;
        text-align: justify;
    }
    span.body-main-title{
        font-family: 'Poppins', sans-serif;;
        padding-bottom: 1em;
        @include sm{
            font-size: 15px;
        }
        @include xl{
            font-size: 2em;
        }
    }
    span.body-main-sub-title{
        font-family: 'Archivo', sans-serif;
        font-size: 1em;
        display: block;
        @include sm{
            font-size: 10px;
        }
        @include xl{
            font-size: 1em;
        }
    }
    span.body-main-summary{
        font-family: 'Archivo', sans-serif;
        font-size: 3em;
        display: block;
        padding: 5em;
        text-align: justify;
    }
    div {
        @include sm{
            padding-left: 1em;
            padding-right: 1em;
        }
        @include xl{
            padding-left: 5em;
            padding-right: 5em;
            overflow-y: auto;
        }
    }
}