.media-social-list{
    font-size:20px;
    padding-left: 2em;
}

.dev-social-list{
    font-size: 15px;
    padding-left: 2em;
}

.contact-list{
    font-size: 15px;
    padding-right: 1em;
}

.dev-social{
    padding-top: 2em;
    text-align: center;
}

.blueberry{
    background-color: #4D648D;
}