<!-- Footer -->
<footer class="page-footer font-small prcpl-color-bg">
  <div style="background-color: #4D648D;">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-12 col-lg-12 text-center text-md-center mb-4 mb-md-0">
          <h6 class="mb-0">En memoria del C.P. Bernardo Ramírez Vivían</h6>
        </div>
        <!--<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">¡Encuentranos en nuestras redes sociales!</h6>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a>
            <fa-icon class="media-social-list" [icon]="['fab', 'facebook-f']"></fa-icon>
          </a>
          <a class="">
            <fa-icon class="media-social-list" [icon]="['fab', 'twitter']"></fa-icon>
          </a>
          <a class="">
            <fa-icon class="media-social-list" [icon]="['fab', 'instagram']"></fa-icon>
          </a>
        </div>-->
      </div>
    </div>
  </div>

  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">¡Consigue tu pagina web!</h6>
        <hr class="blueberry accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          ¿Te ha gustado la pagina web de BERAVI? Con el equipo de Dev the Space puedes conseguir tu propia pagina web.
        </p>
        <a href="#">¡Da click para conocernos!</a>
        <br>
        <div class="dev-social">
          <a *ngFor="let item of _devSocialList" href="{{item.href}}">
            <fa-icon class="dev-social-list" [icon]="[item.pre, item.icon]"></fa-icon>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contacto Beravi</h6>
        <hr class="blueberry accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
            <fa-icon class="contact-list" [icon]="['fas', 'home']"></fa-icon> Fdz. de Lizardi, 603, Pachuca, Hgo
        </p>
        <p>
            <fa-icon class="contact-list" [icon]="['fas', 'envelope']"></fa-icon> altadirecberavi@gmail.com
        </p>
        <p>
            <fa-icon class="contact-list" [icon]="['fas', 'phone']"></fa-icon> 771 156 27 74
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="">devspace.com</a>
  </div>
</footer>