/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.img-intro-cont .mat-figure {
    justify-content: flex-start !important ;
    align-items: baseline !important;
 }
 
 .hide{
     display: none !important;
 }

 .prcpl-color-bg{
     background-color: #1995AD;
 }

 .animatedIMC {
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
    -webkit-transition-duration: 1s !important;
    transition-duration: 1s !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }

  
.main-div-list{
    .mat-figure{
        justify-content: normal !important;
    }
}